<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:requestLegacyExternalStorage="true"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Library"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Book.CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".Book.BookInsertActivity"
            android:exported="false" />
        <activity
            android:name=".Book.BookUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".DatabaseSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BookLanguage.BookLanguageSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BookType.BookTypeSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Book.BookMainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>